

@media (max-width: 600px) {
    .mobilenav {
        display: block;
    }

    .navigation {
        display: none;
    }
}

    .navigation-wrap{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        background-color: green;
    }

    #logo {
        margin-left: 1em;
        /* make logo appear in faded color */
        color: rgba(252, 238, 89, 0.868);

    }

   .menu-items {
        /*make the menu items appear in a row*/
        display: flex;
        flex-flow: row wrap;
        /*align the items in the center of the row*/
        align-items: center;
        justify-content:flex-end;
        width: auto;
        padding: 0.5em;
        
    }

    .menu-items a {
        background-color: black;
        margin: auto;
        padding: 0.5em;
        color: white;
        text-decoration: none;
         /* give border to the menu items */
         border: 5px solid white;
    }

    .menu-items a:hover{
        background: darken(aquamarine, 2%);
    
  }
    
    
    
    

    /* .navigation li, .navigation a  {
        text-decoration: none;
        display: block;
        color: white;
        font-weight: bold;
        background-color: black;
        padding: 0.5em;
    } */

    .header {
        display: inline;
    }

}
