



/*center the title*/
#text {
    background-color: coral;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

/*center the navigation bar,for laptop users*/
.NavBar {
    list-style-position: inside;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: green;
    display: block;
}

/*center the navigation bar,for mobile users*/
.mobileNavBar {
    margin-left: 5%;
    margin-right: 5%;
    list-style-position: inside;
    text-align: center;
    font-size: 15px;
    color: darkolivegreen;
    display: none;
}

/*title of the page for mobile users*/
#mobileTitle {
    margin-left: 15px;
    margin-right: 50px;
    background-color: coral;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: none;
}



/*change screen size for mobile users*/
@media only screen and (max-width: 414px) {
    .NavBar {
        display: none;
    }
    .mobileNavBar {
        display: block;
    }
    #title {
        display: none;
    }
    #mobileTitle {
        display: block;
    }
    #image {
        #image {
            width: 300px;
            height: 150px;
            display: block;
        }
    }
}

.NavBar a {
    text-decoration: none;
    color: black;
}

.Intro {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

.news {
    margin: 0;
    padding: 0.3rem;
    background-color: #eee;
  }

  .news > h1, .a1, .a2, .a3{
    margin: 0.5rem;
    padding: 0.3rem;
    font-size: 1.2rem;
  }
  
  .a1, .a2, .a3 {
    background-color: white;
  }


