.navigation  {
    display:flex;
    justify-content: start;
    background: black 40%;
    list-style-type: none;
    padding: 2em;
    margin: auto;
}

.navigation a {
    text-decoration: none;
    display: block;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0 auto; /* centers the container */
    max-width: 800px; /* limits the width */
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(67, 188, 81, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    margin: 5px;
    width: 100%; /* makes the items take up the full width of the container */
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* makes the wrapper take up the full width of the page */
    padding: 1em;
    margin: 0; /* removes the margin */
}

.intro {
    padding: 1em;
    margin: 0 auto; /* centers the intro */
    max-width: 800px; /* limits the width */
}