
.header {
    display: flex;
    justify-content: flex-end;
    width: auto;
    height: 20%; /* Adjust this value as needed */
    background-color: #333;
    margin: 0px;
}

.menu-wrapper {
    background-color: aliceblue;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.navbar li a {
    display: block;
    padding: 10px;
    margin: 10px;
    color: white;
    text-decoration: none;
    background-color: black;
}

.navbar a:hover {
    background-color: #333; /* Change to desired hover color */
    color: #fff; /* Change text color on hover if needed */
}

/*dropdown menu*/

.dropdown-options {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
}

.navbar li:hover .dropdown-options{
    display: block;
    width: 100%;
    height: 100%;
    background-color: aliceblue;

}

.dropdown-options li {
    display: flex;
    justify-content: center;
    align-items: center; 
}


/*for mobile view*/
@media all and (max-width: 800px) {

    .menu-wrapper {
        background-color: aliceblue;
    }
    .navbar {
        flex-flow: row wrap;
        padding: 0;
    }

    .navbar li {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .navbar li:last-child {
        border-bottom: none;
    }
}
